<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div [@bounceInLeftOnEnter] class="col">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">#1</div>
      <div class="card-body text-dark">
        <h5 class="card-title">Why trains are the best way to go...
        </h5>
        <p class="card-text">
          <a *ngIf="!isHiddenZero" (click)="onToggle(0)" class="text-dark" routerLink="/faq">
          {{all_text[0] | reduce}}
        </a>
        <a *ngIf="isHiddenZero" (click)="onToggle(0)" class="text-dark" routerLink="/faq">
          {{all_text[0]}}
        </a>
        </p>
      </div>
  </div></div>
<div class="row-cols-1">
  <img [@rotateInDownLeftOnEnter] class="mx-auto" src="../../assets/train_moon.jpg"
  width="500px"
  alt="">
</div>
    <div [@bounceInUpOnEnter] class="col"><div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">#2</div>
      <div class="card-body">
        <h5 class="card-title">The view from the train...
        </h5>
        <p class="card-text">
          <a *ngIf="!isHiddenOne" (click)="onToggle(1)" class="text-light" routerLink="/faq">
          {{all_text[1] | reduce}}
          </a>
          <a *ngIf="isHiddenOne"(click)="onToggle(1)" class="text-light" routerLink="/faq">
            {{all_text[1]}}
            </a>
        </p>
      </div>
  </div></div>
  <div class="row-cols-1">
    <img [@rotateInDownRightOnEnter] class="mx-auto" src="../../assets/faq_0.webp"
    width="500px"
    alt="">
  </div>
    <div [@bounceInDownOnEnter] class="col"><div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">#3</div>
      <div class="card-body text-dark">
        <h5 class="card-title">Is it Ho Chi Minh or Saigon?</h5>
        <p class="card-text">
          <a *ngIf="!isHiddenTwo" (click)="onToggle(2)" class="text-dark" routerLink="/faq">
          {{all_text[2] | reduce}}
          </a>
          <a *ngIf="isHiddenTwo" (click)="onToggle(2)" class="text-dark" routerLink="/faq">
            {{all_text[2] }}
            </a>
        </p>
      </div>
  </div></div>
  <div class="row-cols-1">
    <img [@rotateInDownLeftOnEnter] class="mx-auto" src="../../assets/faq_1.jpg"
    width="500px"
    alt="">
  </div>
    <div [@bounceInRightOnEnter] class="col"><div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">#4</div>
      <div class="card-body">
        <h5 class="card-title">The Reunification Line...
        </h5>
        <p class="card-text">
          <a *ngIf="!isHiddenThree" (click)="onToggle(3)" class="text-light" routerLink="/faq">
          {{all_text[3] | reduce}}
          </a>
          <a *ngIf="isHiddenThree" (click)="onToggle(3)" class="text-light" routerLink="/faq">
            {{all_text[3]}}
            </a>
        </p>
      </div>
      
</div></div>
<div class="row-cols-1">
  <img [@rotateInDownRightOnEnter] class="mx-auto" src="../../assets/faq_2.jpg"
  width="500px"
  alt="">
</div>
<div class="col-6"><div class="card text-white bg-dark mb-3">
  <div class="card-header">#5</div>
  <div class="card-body">
    <h5 class="card-title">Notes by train number...

    </h5>
    <p class="card-text">
      <a *ngIf="!isHiddenFour" (click)="onToggle(4)" class="text-light" routerLink="/faq">
      {{all_text[4] | reduce}}
      </a>
      <a *ngIf="isHiddenFour" (click)="onToggle(4)" class="text-light" routerLink="/faq">
        {{all_text[4]}}
        </a>
    </p>
  </div>
</div></div>
  </div>
</div>