<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Cookies.</h1>
            <h4>The right track.</h4>

            What are cookies?
Cookies are small text files that our website may transfer to your Internet browser. Placing cookies on your computer, pad or phone allows us or one of our partners to personalize your website experience, including the presentation of services and advertisements, by retrieving the cookies. 

We use different types of cookies on our website:
Necessary cookies
We use some cookies that are necessary for website functionality and security. Without these cookies in place the website will not function properly.

Analytics cookies
To make our website as user friendly as possible, we employ analytics cookies to assess website visitors’ pattern of usage. Vy uses Google Analytics, Hotjar and Tradetracker; the tools’ cookies register a user’s IP address and provide information on the user’s navigation and actions when visiting the website.

Such statistics may provide answers to questions such as: How many visitors view various website pages; how long does an average visitor remain on our website; from what websites do users arrive; what browsers are used; and what purchases or other actions are made.

Marketing cookies
We also use marketing cookies to help us display advertisements that might be of interest to you on other websites that you visit. These cookies have been placed on our website by third-party ad networks, such as Facebook, on our behalf and with our consent.

Information gathered by marketing cookies that may be shared with our ad network includes your website navigation, what purchases you have made, the time of such purchases, and the IP address and browser used.

Facebook may link your activity on our website to your user account when you are logged into their platforms.

The purpose of using marketing cookies is to be able to offer customers targeted and relevant ads.

How to administer our use of cookies
We respect your privacy and your views regarding cookies. Therefore, you can easily disable cookies on our website (except strictly necessary cookies).

Strictly necessary cookies are always active as they are needed for the site to function properly. You can choose to activate/disable other cookies via our cookie settings.

You may opt to delete cookies that have already been placed on your device. You can do so via your browser menu. Exactly how to delete cookies will depend on the browser you are using.

Should you want to disable, reject, or block our use of cookies, some vy.no functionality will be lost, and in some cases our website may not be available at all.

            <p>Coolblue uses cookies when you visit Coolblue.nl. Sorry, no lady fingers, biscuits, or other cookies that spoil your appetite. Just small (temporary) text files for your PC.</p>
            <p>Thanks to cookies, you don't have to enter or download the same information every time you return to our site. Nice, right? In addition, cookies help us understand how you use our sites and how to make it better and more customer-friendly. It has to be said: we also use them for marketing purposes.</p>
            <p>In addition, we use JavaScript. This allows us to do beautiful things, sometimes in combination with cookies and (web) beacons. Like remembering your shopping cart, or showing you previously viewed products.</p>
            <strong>Accept cookies</strong>
            <p>If you want to use our websites in all their glory, you'll have to accept our cookies. Luckily, they're not tou</p>
            <strong>Accept cookies</strong>
            <p>We make sure we handle the information we collect from you with care. You can tell us what we can track by choosing either the Standard or Personalized cookie package.</p>
            <div class="card">
                <p>
                    <input name="radiocookie" type="radio">
                    <label for="">Personalized cookie package</label></p>
            <p>You can choose the Personalized cookie package if you want a tailored online shopping experience:</p>
            <ul>
                <li>You’ll only see ads for products you really want</li>
                <li>Our website works as you'd expect.</li>
                <li>You can login safely, through social media as well. We remember your login details for you, so you won’t have to do this yourself.</li>
                <li>We use third party cookies in order to remember your interests. That’s how we only show you our ads and third party ads which are tailored to your preferences.</li>
            </ul></div>
            <div class="card" >
                <p>
                    <input name="radiocookie" type="radio">
                    <label for="">Standard cookie package</label></p>
            <p>Choose the Standard cookie package if you want the basic functionalities of the website to work properly:</p>
            <ul>
                <li>We show random ads.</li>
                <li>Our website works as you'd expect.</li>
                <li>We use analytical and functional cookies to see how we can make the website better.</li>
                <li>We DO NOT use third party cookies in order to remember your interests in order to show you our ads and third party ads which are tailored to your preferences.</li>
                <li>Having these are essential in order to make the website work as expected.</li>
            </ul>
        </div>
        </div>
    </div>
</div>