<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Cookies.</h1>
            <h4>The right track.</h4>
            <p>Coolblue uses cookies when you visit Coolblue.nl. Sorry, no lady fingers, biscuits, or other cookies that spoil your appetite. Just small (temporary) text files for your PC.</p>
            <p>Thanks to cookies, you don't have to enter or download the same information every time you return to our site. Nice, right? In addition, cookies help us understand how you use our sites and how to make it better and more customer-friendly. It has to be said: we also use them for marketing purposes.</p>
            <p>In addition, we use JavaScript. This allows us to do beautiful things, sometimes in combination with cookies and (web) beacons. Like remembering your shopping cart, or showing you previously viewed products.</p>
            <strong>Accept cookies</strong>
            <p>If you want to use our websites in all their glory, you'll have to accept our cookies. Luckily, they're not tou</p>
            <strong>Accept cookies</strong>
            <p>We make sure we handle the information we collect from you with care. You can tell us what we can track by choosing either the Standard or Personalized cookie package.</p>
            <div class="card" style="width: 30%; float: left;">
                <p>
                    <input name="radiocookie" type="radio">
                    <label for="">Personalized cookie package</label></p>
            <p>You can choose the Personalized cookie package if you want a tailored online shopping experience:</p>
            <ul>
                <li>You’ll only see ads for products you really want</li>
                <li>Our website works as you'd expect.</li>
                <li>You can login safely, through social media as well. We remember your login details for you, so you won’t have to do this yourself.</li>
                <li>We use third party cookies in order to remember your interests. That’s how we only show you our ads and third party ads which are tailored to your preferences.</li>
            </ul></div>
            <div class="card" style="width: 30%;">
                <p>
                    <input name="radiocookie" type="radio">
                    <label for="">Standard cookie package</label></p>
            <p>Choose the Standard cookie package if you want the basic functionalities of the website to work properly:</p>
            <ul>
                <li>We show random ads.</li>
                <li>Our website works as you'd expect.</li>
                <li>We use analytical and functional cookies to see how we can make the website better.</li>
                <li>We DO NOT use third party cookies in order to remember your interests in order to show you our ads and third party ads which are tailored to your preferences.</li>
                <li>Having these are essential in order to make the website work as expected.</li>
            </ul>
        </div>
        </div>
    </div>
</div>