<header id="header" class="p-3 bg-dark ">
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-range" viewBox="0 0 16 16">
          <path d="M9 7a1 1 0 0 1 1-1h5v2h-5a1 1 0 0 1-1-1zM1 9h4a1 1 0 0 1 0 2H1V9z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a 
            class="nav-link px-2"
            routerLink="/"
            routerLinkActive="text-secondary"
            [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a 
            routerLink="/features" 
            class="nav-link px-2 "
            routerLinkActive="text-secondary"
            [routerLinkActiveOptions]="{exact: true}">Features</a></li>
          <li><a 
            routerLink="/pricing" 
            class="nav-link px-2 "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Pricing</a></li>
          <li><a 
            routerLink="/faq" 
            class="nav-link px-2 "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">FAQs</a></li>
          <li><a 
            routerLink="/about-us" 
            class="nav-link px-2 "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">About us</a></li>
        </ul>
        <div class="text-end">
          <button 
          type="button" 
          class="btn btn-outline-light me-2"
          routerLink="/login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Login</button>
          <button type="button" class="btn btn-warning"
          routerLink="/signup"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Sign-up</button>
        </div>
      </div>
    </div>
  </header>