<header id="header" class="p-3 bg-dark ">
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       <a routerLink="/" 
       class="navbar-brand d-flex align-items-center"><strong>TrainAm</strong></a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a 
            class="nav-link px-2"
            routerLink="/"
            routerLinkActive="text-secondary"
            [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a 
            routerLink="/features" 
            class="nav-link px-2 "
            routerLinkActive="text-secondary"
            [routerLinkActiveOptions]="{exact: true}">Features</a></li>
          <li><a 
            routerLink="/pricing" 
            class="nav-link px-2 "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Pricing</a></li>
          <li><a 
            routerLink="/faq" 
            class="nav-link px-2 "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">FAQs</a></li>
          <li><a 
            routerLink="/about-us" 
            class="nav-link px-2 "
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">About us</a></li>
        </ul>
        <div class="text-end">
          <button 
          type="button" 
          class="btn btn-outline-light me-2"
          routerLink="/login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Login</button>
          <button type="button" class="btn btn-warning"
          routerLink="/signup"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Sign-up</button>
        </div>
      </div>
    </div>
  </header>