<div class="container">
    <footer class="py-5">
      <div  
      class="d-flex justify-content-between py-4 my-4 border-top gnu">
        <div [@fadeInOnEnter]="isGNUMouseOver" (mouseover)="onGNUMouseOver()">
          {{'licenseKey'|translate}}</div>
          <div [ngClass]="{'icon-dark':switch_status,'icon-light':!switch_status}" [@fadeInOnEnter]="isLinkMouseOver" (mouseover)="onLinkMouseOver()"  class="useful-links">
            <a class="text-dark" routerLink="/sitemap">{{'sitemapKey'|translate}}</a>
            <a class="text-dark" routerLink="/cookies">{{'cookiesKey'|translate}}</a>
          <a  class="text-dark" routerLink="/TOS">{{'tosKey'|translate}}</a>
          <a  class="text-dark" routerLink="/privacy-policy">{{'privacyPolicyKey'|translate}}</a>
          <div class="d-inline-block">
              <select [ngStyle]="{backgroundColor:1?'#2d3436':'#fffff',color:1?'#ffffff':'#00000'}" #lang (change)="selectLanguage($event)" class="form-select">
              <option  value="en-US" selected>{{'englishKey'|translate}}</option>
              <option  value="fr-FR">{{'frenchKey'|translate}}</option>
              <option  value="nl-NL">{{'dutchKey'|translate}}</option>
              <option value="es-ES">{{'spanishKey'|translate}}</option>
              <option value="vi-VN">{{'vietnameseKey'|translate}}</option>
              <option value="zh-CN">{{'chineseKey'|translate}}</option>
              <option value="ru-RU">{{'russianKey'|translate}}</option>
            </select>
          </div>
          </div>
      </div>
    </footer>
  </div>