.gnu
{
    font-style: italic;
}
.fixed-bottom
{
    z-index: 0;
}
a
{
    margin: auto 11px;
    text-decoration: none;
}
a:hover
{
    filter:invert(1);
}
.icon-dark
{
       filter: invert(1);
}
.icon-light
{
       filter: invert(0);
}
img
{
    width: 17px;
}