.container
{
    text-align: center;
    margin-top: 30px;
}
.invalid-input-text
{
       font-size:small;
       color: red;
}
.form-select
{
  font-size: large;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.02);
}
.card
{
  padding: 25px;
}
.icon-dark
{
       filter: invert(1);
}
.icon-light
{
       filter: invert(0);
}
li
{
  padding-bottom: 9px;
}

.float{
  width:60px;
	height:60px;
	bottom:16em;
  margin-left: 45%;
	background-color:#6c757d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  font-size: x-large;
}
svg
{
  margin-top: 25%;
}

.tr-dark,.div-dark
{
  color:white;
}
.tr-light,.div-light
{
  color:black;
}
.div-dark
{
  background-color: black;
}
.div-light
{
  background-color: white;
}
.selectValid
{
  width: 80%;
  float: left;
}
.basket
{
  margin: 20px;
}
h6, img
{
    margin: 8px;
}
.lds-grid {
    filter: invert(1);
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  