<div *ngIf="isFetching" class="container">
  <div class="row justify-content-center">
    <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <h3>Loading...</h3>
  </div>
</div>
<div *ngIf="!isFetching" class="container">
<img [ngClass]="{'icon-dark':switch_status,'icon-light':!switch_status}" [@jackInTheBoxOnEnter] src="../../assets/date.png" width="40px" />
<div class="row justify-content-center">
  <h6>You chose: {{userJourney.from}} - {{userJourney.to}} on {{userJourney.date}}</h6>
  <div class="col-auto">
    <table [@slideInUpOnEnter] class="table">
      <thead>
        <tr [ngClass]="{'tr-dark':switch_status, 'tr-light': !switch_status}" #tr1 class="tr">
          <td>Departure City</td>
          <td>Departure Date</td>
          <td>Departure Hour</td>
          <td>Next Arriving Hour</td>
          <td>Total Kilometers Travelled</td>
        </tr>
      </thead>
      <tbody *ngIf="!isExpanding">
        <!-- BIND index with ts and make an if statement to show the rest
        and hide the "continue reading" div -->
        <tr [ngClass]="{'tr-dark':switch_status, 'tr-light': !switch_status}" class="tr" 
        *ngFor="let row of NghiTempSlice; 
        let i = index;
        let f = first;"
        >
          <td [ngStyle]="{'font-weight': (f?'bold':'')}">{{row.CITY}}</td>
          <td>{{row.DATE}}</td>
          <td>hr</td>
          <td>hr</td>
          <td>{{row.KM}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="isExpanding">
        <!-- BIND index with ts and make an if statement to show the rest
        and hide the "continue reading" div -->
        <tr [ngClass]="{'tr-dark':switch_status, 'tr-light': !switch_status}" class="tr" 
        *ngFor="let row of NghiTemp; 
        let i = index;
        let f = first;
        let l = last;"
        >
          <td [ngStyle]="{'font-weight': (f||l?'bold':'')}">{{row.CITY}}</td>
          <td>{{row.DATE}}</td>
          <td>hr</td>
          <td>hr</td>
          <td>{{row.KM}}</td>
        </tr>
      </tbody>
    </table>
    <a 
    *ngIf="!isExpanding"
    (click)="onExpandClick()" class="text-light" routerLink="/table">
    <div [@fadeOutDown]="isExpandingAnim"  class="float">
      <!-- <fa-icon class="fa rounded mx-auto my-float" [icon]="faArrowDown"></fa-icon> -->
      <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-down-long" 
      class="mx-auto my-float  svg-inline--fa fa-arrow-down-long" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M9.375 329.4c12.51-12.51 32.76-12.49 45.25 0L128 402.8V32c0-17.69 14.31-32 32-32s32 14.31 32 32v370.8l73.38-73.38c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-128 128c-12.5 12.5-32.75 12.5-45.25 0l-128-128C-3.125 362.1-3.125 341.9 9.375 329.4z"></path></svg>
    </div>
    </a>
    <div *ngIf="isExpanding">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <select 
      class="form-select form-select-sm"
      [ngClass]="{selectValid:ticket_name.valid && ticket_name.dirty}" 
      aria-label=".form-select-sm example"
      [ngModel]="0"
      #ticket_name="ngModel"
      name="ticket_name"
      required>
        <option value="0" selected>Choose your ticket</option>
        <option value="1">First Class</option>
        <option value="2">Second Class</option>
        <option value="3">Standing</option>
      </select>
      <div 
      [@flipInYOnEnter]
      class="col-md-3 col-lg-3 col-xl-2 d-flex basket"
      *ngIf="ticket_name.valid && ticket_name.dirty">
        <button (mouseover)="onMouseOver('minus')" [@rotateIn]="isMinusSignHovered" class="btn btn-link px-2"
          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
          <fa-icon [icon]="faMinus"></fa-icon>
        </button>

        <input id="form1" min="0" name="quantity" value="1" type="number"
          class="form-control form-control-sm" />

        <button (mouseover)="onMouseOver('plus')" [@rotateIn]="isPlusSignHovered" class="btn btn-link px-2"
          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
      <div 
      [ngClass]="{'div-dark':switch_status, 'div-light': !switch_status}"
      [@flipInXOnEnter]="ticket_name.valid && ticket_name.dirty" 
      *ngIf="ticket_name.valid && ticket_name.dirty" class="col card">
        <p>This ticket includes the following:</p>
          <ul>
            <li>Ticket name: test</li>
            <li>Ticket code: test</li>
            <li>Ticket price: $4.20</li>
          </ul>
      </div>
      <hr>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Recently used</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <form class="px-4 py-3">
            <div class="mb-3">
              <label for="exampleDropdownFormEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" autocomplete="username">
            </div>
            <div class="mb-3">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" autocomplete="current-password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <button type="button" ngbDropdownItem>New around here? Sign up</button>
          <button type="button" ngbDropdownItem>Forgot password?</button>
        </div>
      </div>
      <button 
      [disabled]="!ticket_name.dirty"
    (click)="onClick()" 
    class="btn btn-primary"
    [ngClass]="{'btn-warning':!isDatepicker}">Order now</button>
    <p *ngIf="!isDatepicker" style="color: red;"><strong>Warning!</strong> You didn't come from the Home page.
    Are you really sure you want to take this specific trip? </p>
    </form>
  </div>
  </div>
</div>   
  </div>