.thumbnail
{
    width: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-size:small;
}
.col-4
{
    margin-top: 30px;
}
.icon-dark
{
       filter: invert(1);
}
.icon-light
{
       filter: invert(0);
}