ngb-alert
{
    color: white;
    background-color: burlywood;
    border-color: #800040;
    text-align: center;
    margin-top: 40px;
}
h5
{
    text-align: center;
    font-family: monospace;
    color: white;
    background-color: black;
}