<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">An email has been sent to <strong>bjorn@sweden.se</strong> for your receipt.</p>
    <p class="lead">Here is the summary of your trip: </p>
    <app-thank-you-details></app-thank-you-details>  
    <!-- <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" routerLink="/" role="button">Continue to homepage</a>
    </p> -->
  </div>