<div class="jumbotron text-center">
  <h1 class="display-3">{{'thankYouKey'|translate}}</h1>
  <p class="lead">{{'thankYouText1Key'|translate}} <strong>bjorn@sweden.se</strong> 
    {{'thankYouText2Key'|translate}}</p>
  <p class="lead">{{'thankYouText3Key'|translate}}</p>
    <app-thank-you-details></app-thank-you-details>  
    <!-- <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" routerLink="/" role="button">Continue to homepage</a>
    </p> -->
  </div>