<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>Sitemap</h4>
            <p class="lead">Here you will find a list of the content on TrainAm.</p>
            
            <p class="lead"><strong>My account</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Sign up</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Log in</a>
            </p>
            <hr>

            <p class="lead"><strong>Buy tickets</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Home</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Train type</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Table</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Order</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Thank you</a>
            </p>
            <hr>
            <p class="lead">
                <strong>Travelling with us</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Features</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Pricing</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Frequently Asked Questions</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">About us</a>
            </p>
            <hr>
            <p class="lead">
                <strong>Customer Service</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Help & contact</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Password reset</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Refund and reimbursement</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Fine</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Credit card concerns</a>
            </p>
            <hr>
            <p class="lead"><strong>Conditions and privacy</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Terms of service</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Privacy policy</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Cookies</a>
            </p>
            <hr>
        </div>
    </div>
</div>