<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>Sitemap</h4>
            <p class="lead">Here you will find a list of the content on TrainAm.</p>
            
            <p class="lead"><strong>My account</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/signup">Sign up</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/login">Log in</a>
            </p>
            <hr>

            <p class="lead"><strong>Buy tickets</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/">Home</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/train-type">Train type</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/table">Table</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/order">Order</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/thank-you">Thank you</a>
            </p>
            <hr>
            <p class="lead">
                <strong>Travelling with us</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/features">Features</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/pricing">Pricing</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/faq">Frequently Asked Questions</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/about-us">About us</a>
            </p>
            <hr>
            <p class="lead">
                <strong>Customer Service</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/lllllll">Help & contact</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/zzzzzzzzz">Password reset</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/aaaaaaaaa">Refund and reimbursement</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/qqqqqqqqq">Fine</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/ttttttttttt">Credit card concerns</a>
            </p>
            <hr>
            <p class="lead"><strong>Conditions and privacy</strong></p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/TOS">Terms of service</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/privacy-policy">Privacy policy</a>
            </p>
            <p class="row">
                <a 
            class="text-black" 
            routerLink="/cookies">Cookies</a>
            </p>
            <hr>
        </div>
    </div>
</div>