input
{
       margin: 6px;
      display: flex;
              /* The image used */
              /* Full height */
       height:80%;
              /* Center and scale the image nicely */
       
       align-items: center;
}
button
{
       margin-top: 20px;
}
.arrow
{
       width: 12px;
       margin-right: 12px;
       filter: opacity(0.4) drop-shadow(0 0 0 gray); 
}
.invalid-input-text
{
       font-size:small;
       color: red;
}
.now
{
       float: right;
       width: 50px;
       height: 25px;
       margin: 2px;
       font-size: xx-small;
}