.datepicker
{
       display: flex;
       align-items: center;
              /* The image used */
       background-image: url("../../assets/datepicker-bg.jpg");
              /* Full height */
       height: 80%;
              /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       width:100%;
            
 
}
#test{
       width:300px;
       height:200px;
}
.datepicker input{
       width:400px;
       margin-bottom:20px;
}
.datepicker h3{
       margin:10px 0;
       line-height: 0;
}
.datepicker h3 img{
       padding-bottom:5px;
       margin-right:10px;
}
#big-form{
       border:1px solid gray;
       padding:20px;
       background-color:#FFF;
       color:gray;
       border-radius: 5px;
       flex-basis:420px;
}