<div class="container-fluid datepicker w-25 p-3">
<form 
#f="ngForm"
(ngSubmit)="onSubmit(f)"
id="big-form"
[@fadeInLeftOnEnter]
[@fadeOutRight]="isBtnClicked"
>
    <h3><img [@jackInTheBoxOnEnter]
      [ngClass]="{'icon-dark':switch_status,'icon-light':!switch_status}" src="../../assets/train_icon.png" width="25px" />Train</h3>
    <button
    #demo
    type="button" 
    class="btn btn-dark demo"
    (click)="onDemo()">DEMO</button><hr>
    <img 
      src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39041/preview.png" 
      alt=""
      class="arrow">  
    <label for="formGroupExampleInput">From</label>
    <button (click)="onUserLocation()" type="button" class="
    btn btn-dark text-center location now">GPS</button>
      <input 
      type="text" 
      class="form-control" 
      placeholder="Example input"
      required
      #from="ngModel"
      ngModel
      name="from"
      >
      <p 
      class="invalid-input-text"
      *ngIf="!from.valid && from.touched"
      >We couldn't find the station you were looking for.</p>
      <img 
      src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39041/preview.png" 
      alt=""
      class="arrow">
      <label for="formGroupExampleInput2">To</label>
      <input 
      type="text" 
      class="form-control" 
      placeholder="Another input"
      required
      #to="ngModel"
      ngModel
      name="to">
      <p 
      class="invalid-input-text"
      *ngIf="!to.valid && to.touched"
      >We couldn't find the station you were looking for.</p>
      <img 
      src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39041/preview.png" 
      alt=""
      class="arrow">
        <label for="formGroupExampleInput3">Departure Date</label>
        <button type="button" (click)="onNow()" class="btn btn-dark now">NOW</button>
        <input 
      type="date" 
      class="form-control" 
      placeholder="Another input"
      required
      #date="ngModel"
      ngModel
      name="date">
      <p 
      class="invalid-input-text"
      *ngIf="!date.valid && date.touched"
      >You entered a non-existent date.</p>
        <button 
        type="submit"
        class="w-100 btn btn-lg btn btn-dark"
        [disabled]="!f.valid"
        >Take me there</button>
        <p 
        class="invalid-input-text"
        *ngIf="!isCity&&!isSame">We are sorry, your cities couldn't be found in our database.</p>
        <p 
        class="invalid-input-text"
        *ngIf="isSame">You chose the same city twice.</p>
        
  </form>
</div>
<div class="container" [@fadeInUpOnEnter]>
  <agm-map 
  (mapClick)="onChoseLocation($event)"
  [latitude]="lat" 
  [longitude]="lng"
  >
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<app-fake-users-log></app-fake-users-log>
</div>