.progress {
    background: rgba(0,0,0,0.1);
    border-radius: 100px;
  }
  
  .progress-value {
    border-radius: 100px;
    background: rgba(0,0,0,0.11);
    margin-left: -5px;
  }

  .step1
  {
    animation: step1 1s normal 0.5s forwards;
  }

  .step2
  {
    animation: step2 1s normal 0.5s forwards;
  }

   .step3
  {
    animation: step3 1s normal 0.5s forwards;
  }

  .step4
  {
    animation: step4 1s normal 0.5s forwards;
  }

   .step5
  {
    animation: step5 1s normal 0.5s forwards;
    margin-left: 0px;
  }
  
  @keyframes step1 {
    0% { width: 0; }
    100% { width: 20%; }
  }
    @keyframes step2 {
    0% { width: 0; }
    100% { width: 40%; }
  }
  @keyframes step3 {
    0% { width: 0; }
    100% { width: 60%; }
  }
  @keyframes step4 {
    0% { width: 0; }
    100% { width: 80%; }
  }
  @keyframes step5 {
    0% { width: 0; }
    100% { width: 100%; }
  }