<app-header></app-header>
<app-ng-dynamic-breadcrumb fontSize="16px" bgColor="none" class="ll"></app-ng-dynamic-breadcrumb>
<app-progress-bar></app-progress-bar>
<router-outlet></router-outlet>
<div [@hinge]="isAnim" *ngIf="isFirstTime" class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> 🍪 We use cookies to ensure you get the best experience on our website. <a routerLink="/cookies">Learn more</a>

    <button 
    type="button" 
    class="btn btn-primary btn-sm acceptcookies"
    (click)="onHideCookies()">
        I agree
    </button>
</div>
<app-footer></app-footer>