<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
            <h3 style="text-align: center;margin-top: 20px;">Privacy Policy</h3>
            <br>
            <ul>
                <li [@rotateInUpRightOnEnter]>
                    <a  class="list-group-item list-group-item-action list-group-item-light">
                    TrainAM does not collect any data of any kind other than what is strictly 
                    required to make use of our services.
                    </a>
                </li>
                <br>
                <li [@rotateInUpLeftOnEnter]>
                    <a  class="list-group-item list-group-item-action list-group-item-light">
                     TrainAM doesn't embed any kind of analytic hooks or non-essential scripts <em>(statistics)</em> in its code. 
                     </a>
                </li>
                <br>
                <li [@rotateInUpRightOnEnter]>
                    <a  class="list-group-item list-group-item-action list-group-item-light">
                    TrainAM does <strong>NOT</strong> accept donations or any other form of financing. 
              </a>
                </li>
                <br>
                <li [@rotateInUpLeftOnEnter]>
                    <a  class="list-group-item list-group-item-action list-group-item-light">
                    The only time TrainAM connects to a remote server is to:
                    </a>
                    <br>
                    <ul>
                        <li [@rotateInUpRightOnEnter]>
                            <a  class="list-group-item list-group-item-action list-group-item-light">
                            Update the train schedule lists and other related assets. 
                        </a>
                        </li>
                        <br>
                        <li [@rotateInUpLeftOnEnter]>
                            <a  class="list-group-item list-group-item-action list-group-item-light">
                            
                            Facilitate the creation of a new account by only providing the required fields.
                        </a>
                        </li>
                        <br>
                        <li [@rotateInUpRightOnEnter]>
                            <a  class="list-group-item list-group-item-action list-group-item-light">
                            
                            Authenticating for log-in
                       </a>
                        </li>
                        
                    </ul>
                </li>
                <br>
                <li [@rotateInUpLeftOnEnter]>
                    <a  class="list-group-item list-group-item-action list-group-item-light">
                            
                    If you use our services without an account, TrainAM will not save your journeys, unless you save them yourself independent from our built-in services.
                </a>
                </li>
                <br>
                <li [@rotateInUpRightOnEnter]>
                    <a  class="list-group-item list-group-item-action list-group-item-light">
                            
                    The project is currently hosted on github.com, which is owned by GitHub Inc. (now a subsidiary of Microsoft Corporation), and thus is unrelated to uBlock Origin.
                </a>
                </li>
            </ul>
            <cite>That is all.</cite>
            <hr>
            <button 
            class="btn btn-primary"
            routerLink="/signup">Go back</button>
        </div>
        </div>
    </div>
</div>