<div class="container-fluid datepicker w-25 p-3">
  <div class="row">
    <div class="col-xs-12">
      <h3>
        We would love to have you as a member!
      </h3>
      <p>Please fill the following fields in order to create an account:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 form-group">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <label for="">Username:</label>
        <input 
        type="text"
        ngModel
        required
        name="username"
        class="form-control"
        #username="ngModel"
        [ngClass]="{invalid:isTooShort}">
        <p *ngIf="!username.valid&&username.touched">Please enter a valid username.</p>
        <p *ngIf="isTooShort">At least four letters required.</p>
        <label for="">Email address:</label>
        <input 
        type="email"
        ngModel
        required
        email
        name="email"
        class="form-control"
        #email="ngModel"
        [ngClass]="{invalid:isTooShort}">
        <p *ngIf="!email.valid&&email.touched">Please enter a valid email address.</p>
        <p *ngIf="isTooShort">At least four letters required.</p>
        <label for="">Password:</label>
        <input 
        type="password"
        ngModel
        required
        name="password"
        class="form-control"
        #password="ngModel"
        [ngClass]="{invalid:isTooShort||isUnmatch}">
        <p *ngIf="!password.valid&&password.touched">Please enter a valid password.</p>
        <p *ngIf="isTooShort">At least four letters required.</p>
        <label for="">Confirm password:</label>
        <input 
        type="password"
        ngModel
        required
        name="cpassword"
        class="form-control"
        #cpassword="ngModel"
        [ngClass]="{invalid:isTooShort||isUnmatch}">
        <p *ngIf="!cpassword.valid&&cpassword.touched">Please re-enter your password.</p>
        <p *ngIf="isTooShort">At least four letters required.</p>
        <p *ngIf="isUnmatch">Passwords do not match.</p>
        <input 
        type="checkbox"
        ngModel
        name="TOS"
        required
        id="TOS"
        value="1"
        #TOS="ngModel"
        >
        <label for="TOS"><p>I agree to the <a routerLink="/TOS">Terms of Service</a> and <a routerLink="/privacy-policy">Privacy Policy.</a><p></label>
        <p *ngIf="!TOS.valid&&TOS.touched">You must agree to our TOS in order to create an account.</p>
        <hr>
        <button 
        type="submit" 
        class="btn btn-warning"
        [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col xs 12">
      <p *ngIf="submitted">Your response has been recorded successfully.</p>
    </div>
  </div>
</div>