input.ng-invalid.ng-touched, .invalid
{
    border: 1px solid red;
}
p
{
    font-size: small;
}
re-captcha.is-invalid > div {
    border: 1px solid #dc3545 !important;
    border-radius: 0.2rem;  
  }
#recaptcha
{
    margin: 50px;
}