<div *ngIf="isFetching" class="container">
    <div class="row justify-content-center">
      <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <h3>{{'loadingKey'|translate}}</h3>
    </div>
  </div>
<div *ngIf="!isFetching" class="container">
    <div class="row">
        <div class="col-xs-12">
          <div >
            <h3 [@slideInDownOnEnter] style="margin-bottom: 10px;"> {{'oneMoreStep1Key'|translate}} </h3>
            <p [@slideInDownOnEnter] class="lead">{{'oneMoreStep2Key'|translate}} <strong>{{'oneMoreStep3Key'|translate}}</strong>.</p>
            <p class="lead">{{'oneMoreStep4Key'|translate}}<strong>{{'oneMoreStep5Key'|translate}}</strong> {{'oneMoreStep6Key'|translate}} </p>
          </div>
            <ul class="list-group" [@fadeInOnEnter]>
                <li 
                class="list-group-item-black d-flex justify-content-between 
                align-items-center"
                >
                  <button 
                  #a
                  (click)="onClick(a)" [@flipOutX]="animStateA"  
                  style="width: 100%; margin: 15px;" ngbTooltip="Trains SE1 & SE2 also have a handful of VIP 2-berth compartments (only about 4 per train). SE1 & SE2 also convey privately-run Livitrans tourist sleepers between Hanoi, Hue & Danang."
                  [openDelay]="100" [closeDelay]="300"
                  class="btn btn-outline-success">SE50</button>
                  <span class="badge badge-primary badge-pill">OK</span>
                </li>
                <li class="list-group-item-black d-flex justify-content-between align-items-center">
                  <button 
                  #b
                  (click)="onClick(b)" [@flipOutX]="animStateB"
                  style="width: 100%;margin: 15px;"   ngbTooltip="Trains SE3 & SE4 were equipped with smartly-refurbished cars in 2015, trains SE1 & SE2 got similar refurbished cars in 2016."
                  [openDelay]="100" [closeDelay]="300"
                  class="btn btn-outline-primary">SE70</button>
                  <span class="badge badge-primary badge-pill">OK</span>
                </li>
                <li class="list-group-item-black d-flex justify-content-between align-items-center">
                  <button 
                  #c
                  (click)="onClick(c)" [@flipOutX]="animStateC"
                  style="width: 100%;margin: 15px;" ngbTooltip="SE21, SE22: Air-conditioned soft sleepers, air-conditioned hard sleepers, air-conditioned soft seats, air-conditioned hard seats."
                  [openDelay]="100" [closeDelay]="300"
                  class="btn btn-outline-warning">SE80</button>
                  <span class="badge badge-primary badge-pill badge-full">FULL</span>
                </li>
              </ul>
        </div>
    </div>
</div>