body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
  }
   
  body.light-mode {
    background-color: white;
    color: #2d3436;
  }
  body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}
.indexfloat{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:#212327;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.indexsvg
{
    margin-top: 25%;
    width: 50%;
    filter: invert(1);
}