.hero-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero-banner .logo-wrapper {
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    width: auto;
}
    
    .logo-wrapper img {
        display: block;
        height: 2.5rem;
        margin: 0 auto;
        width: auto;
    }

.hero-banner .hero-image {
    background-image: url('https://images.pexels.com/photos/163856/sunset-train-road-163856.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 376px;
    width: 100%;
}
.text-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

    .text-info > * {
        padding: 0 2.5rem 1rem;
    }

    /* intended for the first h2 within .text-info */
    .text-info h2:nth-child(1) {
        color: var(--theme-color-red);
        font-weight: normal;
        padding-top: 1.8rem;
        padding-bottom: 1rem;
    }

    .text-info h2 {
        font-size: 3.5rem;
        font-weight: bold;
        color: var(--theme-color-brown);
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .text-info p {
        color: var(--theme-color-black);
        line-height: 24px;
    }

    .text-info .email-signup {
        margin: 1rem 0 6rem;
        position: relative;
        width: 100%;
    }
    
        .email-signup .email-input {
            border: 1px solid rgba(51, 51, 51, .7);
            border-radius: 3px;
            padding: 1rem 1.5rem;
            opacity: .5;
            width: 100%;
        }

        .email-signup .email-input:focus {
            background-color: var(--theme-color-white);
            outline: 2px solid var(--theme-color-black);
            opacity: 1;
        }

        .email-signup .email-submit {
            background-color: var(--theme-color-black);
            border-bottom: 1px solid var(--theme-color-black);
            border-radius: 2px;
            color: var(--theme-color-white);
            cursor: pointer;
            font-weight: bold;
            opacity: 1;
            padding: 1rem 1.5rem;
            position: absolute;
            right: 0;
            margin-right: 2.5rem;
            z-index: 10;
        }
