<div #lorem [ngClass]="{card:isBtnStill,print:!isBtnStill}">
    <div class="title">Purchase Reciept</div>
    <div [ngClass]="{'thank-you-dark':switch_status,'thank-you-light':!switch_status}" class="info">
        <div class="row">
            <div class="d-block"> <span id="heading">Full Name</span><br> <span id="details" >Mr. Sven Bjornsson</span> </div>
        </div>
    </div>
    <div [ngClass]="{'thank-you-dark':switch_status,'thank-you-light':!switch_status}" class="info">
        <div class="row">
            <div class="col-7"> <span id="heading">Date</span><br> <span id="details" >10 October 2018</span> </div>
            <div class="col-5 pull-right"> <span id="heading">Order No.</span><br> <span id="details">012j1gvs356c</span> </div>
        </div>
    </div>
    <div [ngClass]="{'thank-you-dark':switch_status,'thank-you-light':!switch_status}" class="pricing">
        <div *ngFor="let ticket of tickets" class="row">
            <div class="col-9"> <span id="name">{{ticket.name}}</span> </div>
            <div class="col-3"> <span id="price">£{{ticket.price}}</span> </div>
        </div>
        <div class="row">
            <div class="col-9"> <span id="name">Est. Tax - 21% (Belgium)</span> </div>
            <div class="col-3"> <span id="price">+ £33.00</span> </div>
        </div>
    </div>
    <div class="total">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">£{{total+33}}</div>
        </div>
    </div>
    <div class="tracking">
        <div class="title">Tracking Order</div>
    </div>
    <div class="progress-track">
        <ul id="progressbar">
            <li class="step0 active " id="step1">Ordered</li>
            <li class="step0 active text-center" id="step2">Shipped</li>
            <li class="step0 active text-right" id="step3">On the way</li>
            <li class="step0 text-right" id="step4">Delivered</li>
        </ul>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-2"><img class="img-fluid" src="../../../assets/trainam.PNG"></div>
            <div class="col-10">Want any help? Please &nbsp;<a routerLink="/help-contact"> contact us</a></div>
        </div>
    </div>
</div>
<button ngbTooltip="Useful when offline." placement="bottom"
[openDelay]="100" [closeDelay]="30" 
(click)="onCreatePDF(content)" class="btn btn-outline-primary mb-2 me-2">Save as PDF</button>
<button ngbTooltip="For questions and issues." placement="bottom"
[openDelay]="100" [closeDelay]="30" 
routerLink="/help-contact" class="btn btn-outline-warning mb-2 me-2">Help?</button>
<button ngbTooltip="Delete your record from our database." placement="bottom"
[openDelay]="100" [closeDelay]="30" 
(click)="onCancelTicket()" class="btn btn-outline-danger mb-2 me-2">Cancel ticket</button>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Save PDF</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Loading&hellip;</p>
    </div>
  </ng-template>